In [1]:
sc

### Create dataframe

In [2]:
header = ['city', 'type', 'price']

In [23]:
data   = map(lambda r: (r[0], r[1], float(r[2])), #header
  map(lambda x: x.split(","),  #contents
    ["Paris,Food,19.00", "Marseille,Clothing,12.00",
     "Paris,Food,8.00", "Paris,Clothing,15.00",
     "Marseille,Food,20.00", "Lyon,Book,10.00"]))
df = spark.createDataFrame(data, header)  #create the dataframe

In [24]:
df.show()

+---------+--------+-----+
|     city|    type|price|
+---------+--------+-----+
|    Paris|    Food| 19.0|
|Marseille|Clothing| 12.0|
|    Paris|    Food|  8.0|
|    Paris|Clothing| 15.0|
|Marseille|    Food| 20.0|
|     Lyon|    Book| 10.0|
+---------+--------+-----+

##### Take

In [25]:
df.take(2)

[Row(city='Paris', type='Food', price=19.0),
 Row(city='Marseille', type='Clothing', price=12.0)]

In [26]:
df.printSchema()

root
 |-- city: string (nullable = true)
 |-- type: string (nullable = true)
 |-- price: double (nullable = true)

In [30]:
for x in df.dtypes:
    print(x)

('city', 'string')
('type', 'string')
('price', 'double')

#### Selecting Columns

In [31]:
from pyspark.sql.types import StringType, FloatType, StructType, StructField
data = map(lambda r: (r[0], r[1], float(r[2])),
  map(lambda x: x.split(","),
    ["Paris,Food,19.00", "Marseille,Clothing,12.00",
     "Paris,Food,8.00", "Paris,Clothing,15.00",
     "Marseille,Food,20.00", "Lyon,Book,10.00"]))

schema = StructType([
	StructField("city",  StringType(), nullable=True),
	StructField("type",  StringType(), nullable=True),
	StructField("price", FloatType(),  nullable=True)
])

df = spark.createDataFrame(data, schema=schema)
df.show()

+---------+--------+-----+
|     city|    type|price|
+---------+--------+-----+
|    Paris|    Food| 19.0|
|Marseille|Clothing| 12.0|
|    Paris|    Food|  8.0|
|    Paris|Clothing| 15.0|
|Marseille|    Food| 20.0|
|     Lyon|    Book| 10.0|
+---------+--------+-----+